
.body {
    font-family: 'Droid Sans','Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    position: relative;
    padding-top: 40px;
}
h3{
    color: #777;
}
div.clear{
    clear: both;
}
div.devices{
    margin: 0;
    padding: 0;
}
div.devices div.device{
    float: left;
    list-style: none;
    border: 1px solid #dedede;
    padding: 10px;
    margin: 0 15px 25px 0;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.35);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.35);
    color: #555;
}
div.devices div.device label, div.devices div.device span{
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    color: #393939;
    display: block;
    float: left;
}

div.spaced {
    margin: 5px;
}